<!-- Page content -->
<div class="container py-7 py-lg-8">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="pb-5 pl-6 pr-6">
            <img
              class="img-fluid"
              src="../../../assets/img/brand/logo-pekeningos.png"
              alt="Logotipo de pequeñingos"
            />
          </div>
          <div class="text-center text-muted mb-4">
            <small
              >¡Ya casi terminamos! Ingresa los siguientes datos para poderte
              dar un mejor servicio.</small
            >
          </div>
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-circle-08"></i
                  ></span>
                </div>
                <input class="form-control" placeholder="Nombre" type="text" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-circle-08"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Apellidos"
                  type="text"
                />
              </div>
            </div>
            <label for="" class="align-content-center">Cumpleaños</label>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <input class="form-control" placeholder="Día" type="text">
                    </div>
                  </div>
                  
              </div>
              <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <input class="form-control" placeholder="Mes" type="text">
                    </div>
                  </div>
                  
              </div>
              <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <input class="form-control" placeholder="Año" type="text">
                    </div>
                  </div>
                  
              </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-mobile-button"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Teléfono/Celular"
                    type="text"
                  />
                </div>
              </div>
              

            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" [routerLink]="['/resumen-venta']">
                Ver resumen
              </button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
