/* You can add global styles to this file, and also import other style files */

.sidebar-logo {
    max-height: 5.5rem !important;
}

.component-description {
    font-weight: bolder;
    text-align: center;
    color: white;
}

.img-pres {
    width: 200px;
}

