<!-- Page content -->
<div class="container py-7 py-lg-8">
  <div class="row justify-content-center align-content-center">
    <div class="col-md-12">
      <img
        class="img-fluid rounded mx-auto d-block pb-5 img-pres"
        src="../../../assets/img/brand/logo-pekeningos.png"
        alt="Logotipo de pequeñingos"
      />
    </div>
  </div>
  <div class="text-center text-white mb-5">
    <h2 class="text-white">Resumen y confirmación de compra</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Resumen</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Concepto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio unitario</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a
                        href="javascript:void(0)"
                        class="avatar rounded-circle mr-3"
                      >
                        <img
                          alt="Image placeholder"
                          src="../assets/img/theme/bootstrap.jpg"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">Paquete 1</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    5
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      $150.00
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      $750.00
                    </span>
                  </td>
                  
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <h2>Total:</h2>
                    </td>
                    <td>
                        <h2>$750.00</h2>
                    </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
        <div class="row pt-3 text-center">
            <div class="col-md-12">
                <button class="btn btn-primary" [routerLink]="['/boletos-venta']">Imprimir</button>
                <button class="btn btn-secondary" [routerLink]="['/boletos-venta']">Cambiar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
